.ability {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.ability mat-list-item {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.ability mat-list-item:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.ability a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.ability a:hover {
  color:#607D8B;
}

