<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <h2>Hero abilities</h2>


  <mat-list role="list" [sortablejs]="heroAbilities" [sortablejsOptions]="options" class="ability">
    <mat-list-item role="listitem" *ngFor="let ability of heroAbilities" class="ability">
      <a routerLink="/detail/{{ability.id}}">
        {{ability.description}}
      </a>
    </mat-list-item>
  </mat-list>

  <h2>Adding/remove abilities</h2>

   <mat-list class="ability" role="list" [sortablejs]="notHeroAbilities" [sortablejsOptions]="options">
    <mat-list-item class="ability" #element *ngFor="let ability of notHeroAbilities" >
     {{ability.description}}
    </mat-list-item>
  </mat-list>



  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>

</div>

