<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <div>
      <label>email:
        <input [(ngModel)]="hero.email" placeholder="email"/>
      </label>
    </div>
  <h2>{{hero.name}}'s abilities</h2>


  <mat-list class="ability" role="list" [sortablejs]="heroAbilities" [sortablejsOptions]="options" >
    <mat-list-item role="listitem" *ngFor="let ability of heroAbilities" class="ability">
      <a routerLink="/ability/detail/{{ability.id}}">
        <span class="badge">#{{heroAbilities.indexOf(ability)+1}}</span>{{ability.description}}
      </a>
    </mat-list-item>
  </mat-list>

  
  <h2>
    <i class="fa fa-arrows-v" aria-hidden="true"></i>
    Add/remove abilities 
    <i class="fa fa-arrows-v" aria-hidden="true"></i>
  </h2>


   <mat-list #list class="ability" role="list" [sortablejs]="notHeroAbilities" [sortablejsOptions]="options">
    <mat-list-item class="ability" #element *ngFor="let ability of notHeroAbilities" >
      <a routerLink="/ability/detail/{{ability.id}}">
        {{ability.description}}
      </a>
    </mat-list-item>
  </mat-list>

  <form (submit)="add(abilityDescription.value); abilityDescription.value=''">
      <label>Ability description:
        <br>
        <input #abilityDescription/>
      </label>
      <!-- (click) passes input value to add() and then clears the input -->
      <button type="submit">
        add
      </button>
    </form>



  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>

</div>

